.cards {
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 920px;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  border: 1px solid red;
}

/*.cards__item:last-child {
  margin-top: 0;
}*/