.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color:white;
  transition: 1s;
  border: 1px solid red;
}

.footer__column-link:hover {
  opacity: 0.50;
}