/*!Общие*/

.page {
  min-width  : 1100px;
   /* мы ещё не умеем делать мобильную версию сайта, */
   /* поэтому выше установлена минимальная ширина страницы */
  max-width  : 1600px;
   /* выше установили ограничение по максимальной ширине */
  margin     : 0 auto;
   /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  width   : 183px;
  height  : 32px;
}

.section-title { 
  line-height  : 1.15;
  font-size    : 60px;
  font-weight  : 700;
  position     : relative;
  text-align   : center;
  margin       : auto;
  width        : 60%;
  margin-bottom: 20px;
  z-index      : 5;
  color        :#000000;
  margin-top: 100px;
}

.section-subtitle {
  line-height: 34px;
  font-size  : 24px;
  font-weight: 400;
  position   : relative;
  text-align : center;
  margin     : auto;
  width      : 60%;
  z-index    : 5;
  color      :#000000;
}

.table_theme_dark {
  color: white;
}

/*!Общие - table*/

.table {
  width          : 1100px;
  padding        : 0;
  position       : relative;
  margin         : auto;
  display        : flex;
  justify-content: space-between;
  /*border         : 1px solid red;*/
}


.table__cell {
  flex-basis     : 250px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border         : 1px solid red;
}

.table__heading {
  margin-top   : 0;
  line-height  : 1.15;
  font-size    : 24px;
  font-weight  : 700;
}

.table__text {
  margin-bottom: 0px;
  margin-top   : 20px;
  line-height  : 1.2;
  font-size    : 18px;
  font-weight  : 400;
}

/*!Шапка сайта, блок header*/

.header {
  min-height      : 600px;
  max-height      : 756px;
  height          : 100vh;
  background-color:#f2f2f2;
  position        : relative;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  overflow        : hidden;
}

.header__title {
  width      : 730px;
  line-height: 96px;
  font-size  : 102px;
  font-weight: 700;
  position   : absolute;
  left       : 64px;
  z-index    : 5;
  color      :#000000;
  /*border     : 1px solid red;*/
}

.header__subtitle {
  width      : 388px;
  line-height: 25px;
  font-size  : 18px;
  font-weight: normal;
  position   : absolute;
  left       : 64px;
  bottom     : 30px;
  z-index    : 5;
  color      :#000000;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  width   : 765px;
  height  : 608px;
  position: absolute;
  bottom  : 0;
  right   : 0;
  z-index : 2;
}

.header__square-pic {
  width           : 568px;
  height          : 568px;
  background-color: #2f80ed;
  position        : absolute;
  right           : 0;
  top             : 64px;
}

.logo_place_header {
  left            : 64px;
  top             : 30px;
  position        : absolute;
  z-index         : 5;
  background-image: url(../images/logo_place_header.svg);
}

/*!Секция, блок description*/

.description {
  position        : relative;
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  /*border: 1px solid red;*/
}

.description__two-columns {
  width          : 80%;
  margin-top     : 100px;
  margin-bottom  : 100px;
  display        : flex;
  justify-content: space-between;
  /*border         : 1px solid red;*/
}

.two-columns__brief {
  width      : 175px;
  margin     : 0;
  line-height: 1.2;
  font-size  : 18px;
  font-weight: normal;
  color      : #2f80ed;
  /*border: 1px solid red;*/
}

.two-columns__main-text {
  min-width      : 784px;
  width          : 80%;
  display        : flex;
  justify-content: space-between;
  flex-direction : column;
  /*border: 1px solid red;*/
}

.two-columns__paragraph {
  font-size  : 24px;
  line-height: 34px;
  font-weight: normal;
  margin     : 0;
  color      :  #000000;
  /*border: 1px solid red;*/
}

.two-columns__span-accent {
  font-size  : 24px;
  line-height: 34px;
  font-weight: bold;
  color      :  #000000;
}

.two-columns_indent {
  padding-top   : 30px;
  padding-bottom: 30px;
}

/*!Секция, блок digits*/

.digits {
  position      : relative;
  display       : flex;
  flex-direction: column;
}

.table_place_upper {
  margin-top   : 60px;
  margin-bottom: 60px;
}

.table_place_lower {
  margin-bottom: 100px;
}

.digits_indent-60 {
  margin-top   : 60px;
  margin-bottom: 60px;
}

.digits_indent-100 {
  margin-bottom: 100px;
}

/*!Секция, блок feynman*/

.feynman {
  position      : relative;
  display       : flex;
  flex-direction:column;
  align-items   :center;
  background    : #f2f2f2;
  height        : 890px;
}

.feynman__title {
  text-align : center;
  line-height: 1.15;
  font-size  : 120px;
  font-weight: 700;
  z-index    : 5;
  width      : 648px;
  margin     : 0;
  margin-top : 100px;
  color      :  #000000;
}

.feynman__subtitle {
  text-align : center;
  line-height: 51px;
  font-size  : 36px;
  font-weight: 400;
  z-index    : 5;
  margin     : 0;
  margin-top : 60px;
  color      :  #000000;
}

.feynman__foto {
  width   : 867px;
  height  : 637px;
  left    : 0;
  bottom  : 0;
  position: absolute;
}

.feynman__link {
  position       : absolute;
  text-align     : center;
  line-height    : 51px;
  font-size      : 36px;
  font-weight    : 400;
  z-index        : 5;
  right          : 48px;
  top            : 50%;
  text-decoration: none;
}

/*!Секция, блок kaufman*/

.kaufman {
  overflow        : hidden;
  position        : relative;
  display         : flex;
  flex-direction  : column;
  background-color:#1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  right   : -210px;
  height  : 877px;
  width   : 877px;
}

.kaufman_indent-100 {
  margin-top: 90px;
}

.kaufman_indent-80 {
  margin-bottom: 80px;
}

.kaufman_indent {
  margin-bottom: 100px;
}

/*!Подвал сайта, блок footer*/

.footer {
  background-color:#1f1f1f;
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  min-height      : 350px;
}

.footer__columns {
  width          : 90%;
  position       : relative;
  display        : flex;
  /*flex-direction : row;*/
  justify-content: space-between;
  margin-top     : 60px;
  margin-bottom  : 40px;
}

.footer_columns_content_copyright {
  display        : flex;
  flex-direction : column;
  /*Justify-content: space-between;*/
  flex-basis     : 711px;
  margin         : 0;
}

.logo_place_footer {
  height          : 35px;
  width           : 183px;
  top             : 0;
  left            : 0;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  position      : absolute;
  margin        : 0;
  padding-top   : 18px;
  padding-bottom: 18px;
  bottom        : 0;
  line-height   : 25px;
  font-size     : 18px;
  font-weight   : 400;
}

.footer__column-heading {
  line-height  : 30px;
  font-size    : 18px;
  font-weight  : 700;
  padding      : 0;
  margin-top   : 0;
  margin-bottom: 20px;
}

.footer_columns_content_info {
  line-height    : 30px;
  font-size      : 18px;
  font-weight    : 700;
  list-style-type: none;
  padding-left   : 0;
  padding-bottom : 16px;
}
.footer__column-link {
  text-decoration: none;
  color          :white;
}

.footer_columns_content_social {
  line-height    : 30px;
  font-size      : 18px;
  font-weight    : 700;
  list-style-type: none;
  padding-left   : 0;
}

.footer__social-icon {
  height: 16px;
  width : 16px;
}